
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 testoverflow">
      <% @counter = 1 %>
      <% while @counter < 10 %>
        <% @counter += 1 %>
        <img class='img-thumbnail img-responsive center-block' src="<%= @url[@counter]['images']['standard_resolution']['url'] %>" alt="Instagram Photo" />
      <% end %>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12"></div>
  </div>
</div>
