
<div class="container-fluid">

  <div class="row" id="topmargins">
    <div class="col-md-2">
      <p class="text-center" id="titles">What's up<br>at Wyncode?</p>
      <img class='img-thumbnail img-responsive pull-left' src="<%= @instagram_feed[0]['images']['standard_resolution']['url'] %>" alt="Instagram Photo" />
      <img class='img-thumbnail img-responsive pull-left' src="<%= @instagram_feed[1]['images']['standard_resolution']['url'] %>" alt="Instagram Photo" />
      <img class='img-thumbnail img-responsive pull-left' src="<%= @instagram_feed[2]['images']['standard_resolution']['url'] %>" alt="Instagram Photo" />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 col-centered testing">
      <h1 id="h1" class="text-center salutation">Good Afternoon</h1>
      <h2 id="h2"><body onload="time1()"><span id="clock" class="text-center"></span></h2>
    </div>
    <div class="col-md-3 col-centered">
      <p class="pull-right" id="secondtitles">Events Coming Soon:</p>
      <iframe class="pull-right" id="height"src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=200&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=ckth5nlin7k3enq99iqm34it34%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York"></iframe>
      <p class="pull-right" id="secondtitles">Class Schedule:</p>
      <iframe class="pull-right" id="height" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=150&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ebeb817r11817qqjghdvp6r6is%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=America%2FNew_York"></iframe>
    </div>
  </div>

  <div class="row row-centered">
    <div class="col-md-12">
      <p class="pull-right powered">Power by: Wyndash </p>
    </div>
  </div>

</div>
