/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	font-family: helvetica;
}

#titles {
	font-size: 1.5em;
	font-weight: bolder;
	margin-bottom: 0;
	margin-top: 10px;
	color:#FAFAFA;
}

#secondtitles {
	font-size: 1.5em;
	font-weight: bolder;
	margin-bottom: 0;
	margin-top: 10px;
	color:#424242;
}

.container-fluid {
	background-image: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?q=80&fm=jpg&s=a4598570a3286ea23369fdefe46953ba');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#topmargins {
	margin-top: 2em;
}

#clock {
	color: #FAFAFA;
	font-size: 4em;
}

iframe {
	border-radius: 5%;
}

.powered {
	font-style:italic;
	color:white;
}

.salutation {
	font-size: 7em;
	font-weight: 900;
	color:#424242;
	margin-bottom: 10px;
}

#h2 {
	text-align: center;
}

#h1 {
	margin-top: 50%;
	text-align: center;
	font-size: 3em;

}

.twitter {
	height: 300px;
	margin-bottom: 0;
	/*overflow: hidden;*/
}
