<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wyndash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Adding meta link to ensure proper rendering and touch zooming from mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Local CSS file -->
  <link rel="stylesheet" href="application.css">

</head>
<body>

<%= yield %>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
    function time1()
    {
        var today=new Date();
        var h=today.getHours();
        var m=today.getMinutes();
        // var s=today.getSeconds();
        h = h % 12;
        h= h ? h : 12; // the hour '0' should be '12'
        var ampm=h >= 12 ? 'AM' : 'PM';
        m = m < 10 ? '0'+m : m;
        // s = s <10 ? '0'+s: s;
    // add a zero in front of numbers<10

        document.getElementById('clock').innerHTML=h+':'+m+' '+ampm;
        t=setTimeout(function(){time1()},500);
}
</script>
</body>
</html>
